*.elf
*.o
*.bin
*.gdb_history
*.ll
trace-*
**/latex-build
**.out
.ipynb_checkpoints
**~
**.S
**/*.cquery_cached_index
*.log
*.aux
*.dvi
*.toc
*.bcf
*.run.xml
*.blg
*.bbl
*.nav
*.snm
aes/aes_test
*.pyc
